/* <ToDo> Put this as module. Used by LogoAnimations component */
@keyframes rotate-full {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-full {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}